grades = ['A', 'A', 'F', 'C', 'D', 'C', 'B', 'B', 'C', 'A']

frequency = [grades.count('A'), grades.count('B'), grades.count('C'), grades.count('D'), grades.count('F')]
print(frequency) 

#2
dog_breeds = ['collie', 'sheepdog', 'Chow', 'Chihuahua']

herding_dogs = dog_breeds[:2]
print(herding_dogs)

tiny_dogs = [dog_breeds[3]]
print(tiny_dogs)

print('Persian' in dog_breeds)
